#nav-bar {
  margin: 0px;
  position: fixed;
  height: 80px;
  color: #e8fdff;
  background-color: #00a087;
  font-family: 'Roboto Condensed', sans-serif;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  z-index: 6;

}

#nav-bar img {
    border-style: none;
    height: 80px;
    width: 80px;
    float: left
}

#nav-bar .header{
  float: left;
  line-height: 77px;
  font-size: 200%;
  margin-left: 10px;
}

#nav-bar button {
  background-color: #33adff;
  color: green;
  margin-top: 1em;
  border: none;
  color: white;
  float: right;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: box-shadow .6s ease-in-out;
}
#nav-bar button:hover {
  box-shadow: 0 -5px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: box-shadow .6s ease-in-out;

}
