.new-tweet {
  background-color: #eeeeee;
  border-radius: 6px;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: .001em;
  padding-bottom: .5em;
  margin-left: 2em;
  margin-right: 2em;
  box-shadow: unset;
  /* transition: box-shadow .3s; */
}

main.container :hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  border-spacing: 0px, 0px, 2px, 0px;
}

 .new-tweet textarea {
    margin: auto;
    overflow: auto;
    width: 100%;
    height: 70px;
}

  .new-tweet .counter {
    float: right;
    margin-top: 5px;

  }

.new-tweet input {
  margin-top: 5px;
}
