article header {
  background-color: #eeeeee;
  width: 100%;
  height: 80px;
}

article {
  overflow: hidden;
  z-index: 0;
  height: 150px;
  margin-top: 10px;
  background-color: white;
  border-radius: 6px 6px 6px 6px;
  position: relative;
  padding-bottom: .7em;
  top: 1em;
  margin-left: 2em;
  margin-bottom: 40px;
  margin-right: 2em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  transition: box-shadow .3s ease-in-out;
  transition: transform .3s ease-in;
}

article:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: transform .3s ease-in-out;
  transform: scale(1.05);
  z-index: 2;
}

article .pic {
  opacity: .5;
  margin-top: 15px;
  margin-left: 19px;
  height: 50px;
  float: left;
  transition: opacity .3s ease-in-out;
}

article:hover .pic {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

article .handle {
  color: #999999;
  padding-right: 1.5em;
  margin-top: 2em;
  float: right;
  opacity: .5;
  transition: opacity .3s ease-in-out;
}

article:hover .handle {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

article .userName {
  font-weight: bold;
  overflow: auto;
  padding-right: 1.5em;
  padding-left: .9em;
  margin-top: 2em;
  float: left;
  opacity: .5;
  transition: opacity .3s ease-in-out;
}

article:hover .userName {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

article .tweetcontent {
  margin: auto;
  padding-right: 1.5em;
  padding-left: 1.5em;
  overflow-wrap: break-word;
  max-width: 100% word-wrap: break-word;
  float: left;
  margin-left: 10px;
  margin-right: 2px;
  height: 25px;
  margin-top: 10px;
}

article footer {
  border-top: 1px solid #eeeeee;
  color: #999999;
  border-spacing: 1px, 0px, 0px, 0px;
  bottom: 0;
  position: absolute;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 15px;
  width: 100%;
  font-size: .5em;
}

article .icons {
  opacity: 0;
  float: right;
  margin-right: 10px;
  transition: opacity .3s ease-in-out;
}

article:hover .icons {
  opacity: 1;
  margin-right: 10px;
  transition: opacity .6s ease-in-out;
}

.fa-flag:hover{
    content: "\f024";
    color: #3399ff;
    transition: color .3s ease-in-out;
}

.fa-heart:hover {
    content: "\f004";
    color:  #ff0000;
    transition: color .3s ease-in-out;
}

.fa-retweet:hover {
    content: "\f079";
    color:  #33cc33;
    transition: color .3s ease-in-out;
}
